body{
    background-color: rgb(89, 94, 150);
    margin: 0%;
 }
 
 h1{
    color:#FFFFFF;
    font-size: 30pt;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    margin: 200px;
    text-align: center;
 }

 .fotoLogo{
   display: flex;
   justify-content: center;
   margin-top: 0%;
 }

 img{
   position: relative;
   display: flex;
   justify-content: center;
   margin: 0px;
   width: 45%;
   height: 60%;
 }

 .ajusteDoParagrafo{
  text-align: right;
  justify-content: right;
  display: grid;
}

p{
  color: #FFFFFF;;
  font-size: 20pt;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  margin-top: 250px;
  margin-right: 50px;
  }

 .fundoDasCaixas{
   background-color: #CD4D00;
   height: 300px;
   margin-top: 30%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 0px;
 }

 .boxElement{
   position: relative;
   width: 200px;
   height: 200px;
   line-height: 200px;
   color: #CD4D00;
   text-transform: uppercase;
   text-align: center;
   margin-right: 20px;
   margin-left: 20px;
   margin-top: 50px;
 }

 .boxElement_html{
   display: flex;
   background-color: #FFFEFE;
   font-size: 20pt;
   font-family: 'Arial', sans-serif;
   font-weight: bold;
   justify-content: center;
   float: left;
   margin-top: 0%;
}

.boxElement_css{
  display: flex;
  background-color: #FFFEFE;
  font-size: 20pt;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  justify-content: center;
  float: left;
  margin-top: 0%;
}

.boxElement_javascript{
  display: flex;
  background-color: #FFFEFE;
  font-size: 20pt;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  justify-content: center;
  float: right;
  margin-top: 0%;
}

.ajusteDoFormulario{
  background-color: #D7D7D7;
  height: 300px;
  margin-top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ajusteDoEmail{
  background-color:#FFFBFB;
  color: #6E6E6E;
  font-size: 20pt;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  float: left;
  height: 30px;
  padding: 1%;

}

.ajustedoEnviar{
  background-color:#CD4D00;
  color: #FFFEFE;
  font-size: 20pt;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  float: left;
  height: 30px;
  width: 130px;
  padding: 1%;
}

button#botaodeenviar {
  background-color:#CD4D00;
  color: #FFFEFE;
  font-size: 20pt;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  float: left;
  height: 30px;
  width: 130px;
  padding: 1%;
}